{% extends "base.html" %}

{% block title %}{{ clinic.name }}{% endblock %}

{% block content %}
    <header class="bg-primary text-white text-center py-2">
        <h1 class="h4">{{ clinic.name }}</h1>
    </header>
    <div class="container mt-3">
        <a href="{{ url_for('register_patient', clinic_id=clinic.id) }}"><button class="btn btn-primary">Registration</button></a>
        <a href="{{ url_for('doctor_home') }}"><button class="btn btn-primary">Doctors Dashboard</button></a>
    </div>
{% endblock %}