{% extends "base.html" %}

{% block title %}Modify Patient{% endblock %}

{% block content %}
    <header class="bg-primary text-white text-center py-2">
        <h1 class="h4">Modify Patient</h1>
    </header>
    <div class="container mt-3">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="first_name">{{ form.first_name.label }}</label>
                {{ form.first_name(class="form-control", id="first_name") }}
            </div>
            <div class="form-group">
                <label for="last_name">{{ form.last_name.label }}</label>
                {{ form.last_name(class="form-control", id="last_name") }}
            </div>
            <div class="form-group">
                <label for="address">{{ form.address.label }}</label>
                {{ form.address(class="form-control", id="address") }}
            </div>
            <div class="form-group">
                <label for="contact">{{ form.contact.label }}</label>
                {{ form.contact(class="form-control", id="contact") }}
            </div>
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class="form-control", id="email") }}
            </div>
            <div class="form-group">
                <label for="age">{{ form.age.label }}</label>
                {{ form.age(class="form-control", id="age") }}
            </div>
            <div class="form-group">
                <label for="sex">{{ form.sex.label }}</label>
                {{ form.sex(class="form-control", id="sex") }}
            </div>
            <div class="form-group">
                <label for="blood_group">{{ form.blood_group.label }}</label>
                {{ form.blood_group(class="form-control", id="blood_group") }}
            </div>
            <div class="form-group">
                <label for="emergency_contact">{{ form.emergency_contact.label }}</label>
                {{ form.emergency_contact(class="form-control", id="emergency_contact") }}
            </div>
            <div class="form-group">
                <label for="photo">{{ form.photo.label }}</label>
                {{ form.photo(class="form-control-file", id="photo") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}