{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block content %}
    <header class="bg-primary text-white text-center py-2">
        <h1 class="h4">Patients</h1>
    </header>
    <div class="container mt-3">
        <input type="text" id="search" class="form-control mb-3" placeholder="Search patients...">
        <button class="btn btn-primary mb-3" onclick="searchPatients()">Search</button>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>Blood Group</th>
                    <th>Emergency Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr onclick="redirectToPatientDetail({{ patient.id }})">
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.address }}</td>
                        <td>{{ patient.contact }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.sex }}</td>
                        <td>{{ patient.blood_group }}</td>
                        <td>{{ patient.emergency_contact }}</td>
                        <td>
                            <form action="{{ url_for('modify_patient', patient_id=patient.id) }}" method="GET" style="display:inline;" onsubmit="event.stopPropagation();">
                                <button type="submit" class="btn btn-primary btn-sm">Modify</button>
                            </form>
                            <form action="{{ url_for('delete_patient', patient_id=patient.id) }}" method="POST" style="display:inline;" onsubmit="event.stopPropagation();">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function searchPatients() {
            const search = document.getElementById('search').value;
            window.location.href = `{{ url_for('patients') }}?search=${search}`;
        }

        function redirectToPatientDetail(patientId) {
            window.location.href = `/patient/${patientId}`;
        }
    </script>
{% endblock %}