<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Patient Registration</h1>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.first_name.label }} {{ form.first_name() }}<br>
            {{ form.last_name.label }} {{ form.last_name() }}<br>
            {{ form.address.label }} {{ form.address() }}<br>
            {{ form.contact.label }} {{ form.contact() }}<br>
            {{ form.email.label }} {{ form.email() }}<br>
            {{ form.age.label }} {{ form.age() }}<br>
            {{ form.sex.label }} {{ form.sex() }}<br>
            {{ form.blood_group.label }} {{ form.blood_group() }}<br>
            {{ form.emergency_contact.label }} {{ form.emergency_contact() }}<br>
            {{ form.photo.label }} {{ form.photo() }}<br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>